:root {
  --x-10: rgba(31, 42, 64, 1);
  --ffffff: rgba(255, 255, 255, 1);
  --basewhite: rgba(255, 255, 255, 1);
  --gray-400: rgba(161, 161, 170, 1);
  --gray-900: rgba(24, 24, 27, 1);
  --gray-600: rgba(82, 82, 91, 1);
  --color-2: rgba(79, 70, 229, 1);
  --gray-500: rgba(113, 113, 122, 1);
  --indigo-600: rgba(79, 70, 229, 1);
  --color-3: rgba(255, 255, 255, 1);
  --gray-300: rgba(212, 212, 216, 1);
  --indigo-300: rgba(165, 180, 252, 1);
  --themebgsurface: rgba(252, 252, 253, 1);
  --gray-200: rgba(228, 228, 231, 1);
  --baseblack: rgba(0, 0, 0, 1);
  --gray-50: rgba(250, 250, 250, 1);
  --themefgdisabled: rgba(158, 172, 174, 1);
  --themeprimaryaccentdisabledlight: rgba(231, 234, 235, 1);
  --themeprimaryaccentdisableddark: rgba(97, 114, 117, 1);
  --bold-11px-font-family: "PlusJakarta Sans-Bold", Helvetica;
  --bold-11px-font-weight: 700;
  --bold-11px-font-size: 11px;
  --bold-11px-letter-spacing: 0px;
  --bold-11px-line-height: 18px;
  --bold-11px-font-style: normal;
  --semi-bold-13px-font-family: "PlusJakarta Sans-Medium", Helvetica;
  --semi-bold-13px-font-weight: 500;
  --semi-bold-13px-font-size: 13px;
  --semi-bold-13px-letter-spacing: 0px;
  --semi-bold-13px-line-height: 21px;
  --semi-bold-13px-font-style: normal;
  --semi-bold-11px-font-family: "PlusJakarta Sans-Medium", Helvetica;
  --semi-bold-11px-font-weight: 500;
  --semi-bold-11px-font-size: 12px;
  --semi-bold-11px-letter-spacing: 0px;
  --semi-bold-11px-line-height: 20px;
  --semi-bold-11px-font-style: normal;
  --bold-24px-font-family: "PlusJakarta Sans-Bold", Helvetica;
  --bold-24px-font-weight: 700;
  --bold-24px-font-size: 24px;
  --bold-24px-letter-spacing: 0px;
  --bold-24px-line-height: 34px;
  --bold-24px-font-style: normal;
  --bold-13px-font-family: "PlusJakarta Sans-Bold", Helvetica;
  --bold-13px-font-weight: 700;
  --bold-13px-font-size: 13px;
  --bold-13px-letter-spacing: 0px;
  --bold-13px-line-height: 22px;
  --bold-13px-font-style: normal;
  --regular-13px-font-family: "PlusJakarta Sans-Regular", Helvetica;
  --regular-13px-font-weight: 400;
  --regular-13px-font-size: 13px;
  --regular-13px-letter-spacing: 0px;
  --regular-13px-line-height: 22px;
  --regular-13px-font-style: normal;
  --bold-16px-font-family: "PlusJakarta Sans-Bold", Helvetica;
  --bold-16px-font-weight: 700;
  --bold-16px-font-size: 16px;
  --bold-16px-letter-spacing: 0px;
  --bold-16px-line-height: 24px;
  --bold-16px-font-style: normal;
  --inter-semi-bold-16px-font-family: "Inter-Medium", Helvetica;
  --inter-semi-bold-16px-font-weight: 500;
  --inter-semi-bold-16px-font-size: 16px;
  --inter-semi-bold-16px-letter-spacing: 0px;
  --inter-semi-bold-16px-line-height: 24px;
  --inter-semi-bold-16px-font-style: normal;
  --semi-bold-16px-font-family: "Inter-Medium", Helvetica;
  --semi-bold-16px-font-weight: 500;
  --semi-bold-16px-font-size: 16px;
  --semi-bold-16px-letter-spacing: 0px;
  --semi-bold-16px-line-height: 24px;
  --semi-bold-16px-font-style: normal;
  --regular-16px-font-family: "Inter-Regular", Helvetica;
  --regular-16px-font-weight: 400;
  --regular-16px-font-size: 16px;
  --regular-16px-letter-spacing: 0px;
  --regular-16px-line-height: 26px;
  --regular-16px-font-style: normal;
  --semi-bold-14px-font-family: "PlusJakarta Sans-Medium", Helvetica;
  --semi-bold-14px-font-weight: 500;
  --semi-bold-14px-font-size: 14px;
  --semi-bold-14px-letter-spacing: 0px;
  --semi-bold-14px-line-height: 22px;
  --semi-bold-14px-font-style: normal;
  --6: 0px 1px 0px 0px rgba(18, 32, 59, 0.09);
  --toggle: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --variable-collection-grey: rgba(224, 224, 224, 1);
  --variable-collection-add: initial;
  --variable-collection-when-click: initial;
  --variable-collection-32514f: rgba(50, 81, 79, 1);
  --variable-collection-sdsd: rgba(103, 185, 146, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
}
