:root {
  --ffffff: rgba(26, 26, 26, 1);
  --variable-collection-grey: rgba(224, 224, 224, 1);
  --variable-collection-add: initial;
  --variable-collection-when-click: initial;
  --variable-collection-32514f: rgba(50, 81, 79, 1);
  --variable-collection-sdsd: rgba(103, 185, 146, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
}
